body{
   background:url(../img/01.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}
ul{
	padding: 0;
	margin:0;
	list-style-type: none;
}
.container li{
	margin:50px 0;
}
#create_hd{
	width: 1000px;
	margin:  auto;
	padding: 0 20px 50px 20px;

	
	/*border-radius: 15px;*/
}

#create_hd label{
	
	clear: left;
	margin: 3px 0;
	width: 120px;
	text-align: right;
	font-size: 18px;
    color: #fff;
	
	/*color: rgb(68,68,68);
	text-shadow: 0px 2px 0px #f2f2f2;*/
}

.label_style{
	float: left;
}
#hd_topic{
	width: 652px;
	
}
#hd_place{
	width: 498px;

}
#newstyle{
	width:190px;
}
input{
    width: 250px;
	height: 35px;
	line-height: 35px;
	margin: 0 30px;	
	padding-left: 10px;
	font-size: 16px;
	color:#444;
	border: 1px solid #d9d9d9;
}

input[type=file]{
	width: 400px;
	height: 35px;
	border: 1px solid #556f8c;
	padding-left: 0px;
	margin: 0;
	cursor: pointer;
	color: #ffffff;
	
}
 input[type=submit]{
	width: 250px;
	height: 40px;
	
	margin: 0 30px;	
	font-size: 18px;
	color:#fff;
	background-color: rgb(0,153,233);
	border: 1px solid #d9d9d9;
	
}
select{
	width: 120px;
	height: 35px;
	line-height: 35px;
	margin: 0 30px;	
	padding-left: 17px;
	font-size: 16px;
	color:#444;
	border: 1px solid #d9d9d9;

}
 #hd_detail ,#personal_jj{
	width: 650px;
	height: 300px;
	resize: none;
	line-height: 20px;
	margin: 0 30px;	
	padding-left: 17px;
	font-size: 16px;
	color:#444;
	border: 1px solid #d9d9d9;
}
#posterImg img,#personal_img img{

	margin: 0 0 30px 30px;

}
#create_button{
	width: 00px;
	margin-left: 150px;
}
#start_hour,#close_hour,#hd_style_2nd,#hd_place{
	margin-left: 0px;
}
#publish{
	margin: 60px 0 ;
	text-align: center;
}
hr{
		border-top:1px solid #1a2b3c;
}