.xxxx{
	width: 100%;
	height: 350px;
	margin:30px 0;
	padding: 10px 20px;
	border: 1px solid rgb(221,221,221);
	border-radius: 8px;
}
.detail_description{
	/*border: 1px solid rgb(221,221,221);
	border-radius: 5px;
	padding: 10px 20px;*/
}
.information{
	height: 30px;
	width: 100px;
	background-color:#1a2b3c;
	border-radius: 3px;
}
.information p{
	color: white;
	font-size: 18px;
	text-align: center;
	line-height: 30px;
}
.content_head_l{
	float: left;
	width:400px;
	height: 300px;
	margin-right: 20px;
	margin-top:14px; 
}
.content_head_l img{
	width: 400px;
	height: 250px;
}
.content_head_r{
	float: left;
}
.title_txt{
	font-size: 16px;
	color:rgb(119,119,119);
}
.title_txt span{
	font-size: 16px;
	color:black;
}
.information{
	font-size: 18px;
	margin-top: 5px;
	color:black;
}
.context{
	border-top: 1px solid #d9d9d9;
	margin-top: 8px;
}
.context p{
	
	margin:10px 20px 50px 20px;
	font-size: 16px;
	line-height:24px;
	color:rgb(51,51,51);

}
#limit_num{
	color: rgb(119,119,119);
	margin-left: 20px;
}
.detail{
	height: 35px;
}
#detail_block{
	margin-top: 20px;
}
.center{
	margin-top: 40px;
	text-align: center;
}
.center input[type=submit]{
	width: 200px;
	height: 40px;
	
	margin: 0 30px;	
	font-size: 18px;
	color:#fff;
	background-color: rgb(0,153,233);
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}
.center input[type=submit]:disabled{
	width: 200px;
	height: 40px;

	margin: 0 30px;
	font-size: 18px;
	color:#fff;
	background-color: #CCCCCC;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
}

.add_member{
	float: left;
	margin:20px;
}
.add_member i{
	color: rgb(0,153,233);
}
.add_member a{
	text-decoration: none;
}
.member_review_list{
	margin:0;
	padding: 0;
	height: 200px;
}
.member_review_main{
	float: left;
}
.member_review_person{
	margin:20px 15px;
}
 .person_id_name h5{
text-align: center;
font-size: 15px;
 }
.person_id_name a{
 text-decoration: none;
 color: rgb(51,51,51);
 }

.person_id_name a:visited {
 text-decoration: none;
 }
.person_id_name a:hover {
 text-decoration: none;
 color:rgb(100,149,237);
 }
.person_id_name a:active {
 text-decoration: none;
 font-size: 14px;
 font-weight: bold;
 }
 #yh_comments{
 	margin: 20px 10px;
 	padding: 5px;
 	height: 70px;
 	width: 730px;
 	border: 1px solid rgb(221,221,221);
	border-radius: 5px;
 }
#publish{
	margin: 60px 0 ;
	text-align: center;
}
.comment_left{
	margin:20px 0 20px 15px;
}
.comment_right{
	width: 750px;
}
.comment_left,.comment_right{
	float: left;
}
#submit_comment{
	float: right;
}
.submit_comment input[type=button]{
	width: 100px;
	height: 30px;
	
	margin: 0 30px;	
	font-size: 14px;
	color:#fff;
	background-color: rgb(0,153,233);
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	
}
.comments{
	
	border-top: 1px solid #d9d9d9;
}
.pl_height{
	height:300px;
}
.person_headphoto img,.comment_left img{
	border-radius: 50%;
}
.comment_left_img{
	margin-left: 10px;
}
.comment_right_name,.comment_right_time{
	height: 40px;
	margin-top: 28px;
	margin-bottom: -40px;
	margin-left: 15px;
}
.comment_right_name h5{
  font-size: 16px;
}
.comment_right_time h5{
	color: rgb(119,119,119);
}
.comment_frame p{
	margin-left: 15px;
	font-size: 15px;
	margin-bottom: 30px;
}
.comment_frame{
	margin-top: 90px;
	margin-left: 85px;
}
.pinglun{
	height: 180px;
}
#apply:hover{
background-color: rgb(0,140,225);

}
#submit_comment:hover{
	background-color: rgb(0,140,225);
}