body{
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: normal;
    background:url();
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-color: rgb(239,243,246);
}

.h3{
    color: aliceblue;
}

.col-row{
    width: 70%;
    height: auto;
    float: left;  
}
.hd_null{
    width: auto;
    height: auto;
    font-size: 23px;
    color: darkgrey;
    text-align: center;
    margin-top: 100px;
}
/*侧边栏css*/
.personal_height{
    position: relative;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 70px;
    margin-bottom: -72px;
}

.personalbar{
    margin-top: 72px;
    margin-right: 80px;
    width: 240px;
    border-color: #080808;
    border-bottom-style:none;
    box-shadow: 0px 0px 3px #666;
    border-radius: 3px;
    background-color: rgb(239,243,246);
}

.sidebar_col{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    float: left;
    width: 16.66666667%;
    margin-left: 50px;
}

.personal_wall {
  min-height: 20px;
  padding: 0;
  background-color: rgb(239,243,246);
  border-radius: 4px;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.personal_recent_hd{
  background-color: rgb(239,243,246);
  padding-top: 7px;
  border-top: 8px;
  border-bottom: 0;
  height: 47px;
}

.personal_recent_hd p{
    font-family: "华文楷体";
    font-size: 24px;
    text-align: center;
    color: black;
}

.pr_recent_hd{
  background-color: rgb(239,243,246);
  /*border: 1px solid #e3e3e3;*/
  border-bottom: 0;
  height: 45px;
  overflow: hidden;
}
.pr_recent_hd p{
  font-size: 22px;
  color:black;
  margin-left: 92px;
  line-height: 45px;
}
.pr_hd_content{
  background-color: rgb(239,243,246);
  border-top: 1px solid #e3e3e3;
  padding: 2px;
}
.pr_hd_content ul{
  margin-left: -40px;
}
.pr_hd_content li{
  margin:10px 10px;
  border: 1px solid #1a2b3c;

}

.personal_recent_member{
  background-color: rgb(239,243,246);
  padding-top: 7px;
  border-top: 8px;
  border-bottom: 0;
  height: 47px;
}

.personal_recent_member p{
    font-family: "华文楷体";
    font-size: 24px;
    text-align: center;
    color: black;
}
/*侧边栏css结束*/

/*重写的个人中心信息页面样式*/
.p_show{
    margin-top: 50px;
    margin-left: 100px;
    width: 400px;
    height: 100px;
    color: cadetblue;
}

.p_show li{
    padding: 3px;
}

.p_present{
    color: dimgray;
    padding-left: 25px;
}

.personal_body{
    box-shadow: 0px 0px 9px #666;
}

.personal_cover{
    margin-bottom: 1px;
    border-color: #080808;
    border-bottom-style:none;
}
.personal_cover img{
    width: 100%;
    height: 200px;
}
.personal_nav{
    width: 900px;
    height: 150px;
    padding: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    border-color: #080808;
    border-bottom-style:none;
    box-shadow: 0px 0px 3px #666;
    border-radius: 3px;
    position: relative;
}
.personal_main{
    width: 850px;
    padding: 2px;
    margin-left: 70px;
    float: left;
    border: 1px solid rgb(221,221,221);
	border-radius: 5px;
}

.personal_data{
    float: left;
    width: 900px;
    padding: 0px 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    box-shadow: 0px 0px 3px #666;
    border-color: #080808;
    border-bottom-style:none;
    border-radius: 3px;
}

.personal_data li{
    float: left;
}

.personal_portrait{
    width: 120px;
    height: 125px;
    background-color: white;
    border: 5px solid white;
    border-radius: 5px;
    position: relative;
    top: -70px;
    left: 20px;
    box-shadow: 0px 0px 13px #666;
    padding-bottom: 10px;
}

.personal_portrait img{
    width: 110px;
    height: 110px;
    border-radius:50px;
    float: left;
}

.p_data{
    float: left;
    margin: 10px;
    padding:0;
    width: 730px;
    text-align: left;
}

.p_data li{
    width: 330px;
    float: left;
    padding: 10px;
    margin: none;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: "华为仿宋";
    font-style:normal;
    color:dimgray;
}

.p_details_present{
    height: 90px;
    padding-left: 27px;
}

.p_data_button{
    float: left;
    margin: 0px 30px;
    padding: 0px;
    width: 100%;
    text-align: center;
    background-color: #EAEAEB;
    border-radius: 5px;
    color:#8B8B8B;
}

.p_nav{
    float: left;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 40px;
}

.p_nav a{
    float: left;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 5px;
    height: 33px;
    font-size: 22px;
    font-family: "微软雅黑";
    color: #999;
}


.p_nav p{
    border-bottom: 2.3px solid crimson;
    margin-bottom: 0px;
}

p_nav li{
    text-indent: -9999px;
    margin-bottom: 0px;
    padding: 0px;
}

/*重写结束*/
/*重写个人活动页面样式*/

.personal_hd{
    margin-top: 7px;
    padding: 10px;
}

.personal_hd_nav{
    width: 500px;
    position: relative;
    padding: 3px;
    padding-left: 30px;
    margin-top: 0;
}

.personal_hd_nav a{
    width: 74.7px;
    height: 20px;
    float: left;
    color: #999;
    text-decoration: none;
}

.personal_hd_nav li.special{
    color: #333；
}

.personal_hd_nav a.hd_a{
    color: #333;
}

.pipe{
    margin:3px;
    color: #CCC;
}

.personal_hd_joined{
    float: left;
    width: 90%;
    min-height: 300px;
}

a, a:visited.hd_a, a:hover.hd_a{
    text-decoration: none;
}

a:hover.hd_a{
    color: #999;
}

.p_hd_main{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 14px;
    float: left;
    padding-left: 20px;
    width: 850px;
    height: 180px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: cadetblue;
}

.hd_img{
    float: left;
    margin-right: 20px;
    margin-bottom: 30px;
}

.hd_img img{
    width: 248.8px;
    height: 140px;
}

.p_hd_present{
    margin-left: 10px;
    margin-top: 0px;
    padding-top: 0px;
}

.p_hd_title{
    margin-top: 0px;
    padding-bottom: 2px;
    padding-top: 0px;
    font-size: 22px;
}

.p_hd_details{
    padding: 1px;
    font-size: 16px;
    width: 270px;
    float: left;
}

.p_hd_bd{
    margin-top: 10px;
    padding-top: 16px;
    font-size: 13px;
}

.p_hd_condition{
    float: left;
    width: 100%;
    text-align: right;
    color: #aaa;
}
.p_hd_comment{
    margin-top: 17px;
    padding-top: 5px;
    width: 200px;
    float: right;
    text-align: right;
    color: #5B5B5B;
    font-family: "华文宋体";
    font-weight: 100;
}

.rating {
    margin-top: 17px;
    width: 130px;
    float: right;
    unicode-bidi: bidi-override;
    direction: rtl;
    color: darkslategrey;
    font-weight: 100;
}
.rating > span {
    display: inline-block;
    position: relative;
    width: 23px;
    font-size: 22px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
    color:#FF9224;
}
/*重写结束*/
/*重写个人小组界面样式*/
.g_leftbar{
    float: left;
    width: 260px;
    height: 300px;
    border-right: 1.3px solid #dedede;
}

.g_rightbar{
    float: left;
    width: 534px;
    height: 300px;
}

.p_group_main{
    margin: 13px;
    padding: 3px;
    float: left;
    width: 800px;
    min-height:360px;
    border-bottom: 2.3333px solid cadetblue;
}

.pg_img{
    float: left;
    width: 250px;
    height: 142px;
}

.pg_img img{
    width: 248.8px;
    height: 140px;
}

.group_posts{
    float: left;
    height: 145px;
    padding-left: 8px;
    margin-top: 0px;
}

.group_posts h3{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    font-weight: 100;
    font-size: 22px;
}

.group_posts hr{
    padding: 2px;
    margin: 1px;
}

.group_posts_details{
    padding-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
    height: 80px;
}

.group_infor{
    margin: 2px;
    float: left;
}

.group{
    margin: 2px;
    float: left;
    height: 150px;
    padding-left: 8px;
}
.g_width_lg{
    width:  540px;
}
.width_lg{
    width: 100%;
}
.min-width-lg{
    width: 600px;
}
.group h3{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    font-weight: 100;
    font-size: 22px;
}

.group hr{
    padding: 2px;
    margin: 1px;
}

.group img{
    width: 80px;
    height: 80px;
    border-radius:50px;
    float: left;
}

.group_creater{
    float: left; 
    padding: 7px;
}

.group_creater a{
    float: left;
    height: 90px;
}

.group_creater img{
    box-shadow: 0px 0px 8px #666;
}

.group_creater p{
    text-align: center;
    font-size: 14px;
    margin-top: 10px;
}

.group_member{
    float: left;
    height: 130px;
    padding: 7px;
}

.group_member ul{
    float: left;
    padding-left: 10px;
}

.group_member a{
    float: left;
    height: 90px;
    padding:0 5px;
}

.group_member p{
    text-align: center;
    font-size: 13px;
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}

.group_details_button{
    padding: 10px;
    text-align: right;
    float: left;
    width: 100%;
}

/*小组详情页面*/
.g_title{
    width: 100%;
    float: left;
    height: 300px;
}
.p_dialogTop{
  width: 580px;
  margin:0 5px;
  border-bottom:1px dotted #ccc;
  letter-spacing:1px;
  padding:10px 0;
  text-align:right;
}
.p_add_member{
	float: left;
	margin:5px;
}
.p_add_member i{
	color: rgb(0,153,233);
}
.p_add_member a{
	text-decoration: none;
}
.p_friends_list{
    height: 260px;
}
.p_friends_list li{
    padding: 2px;
    float: left;
    width: 300px;
}
.p_friends_list img{
    padding: 0px;
    margin: 0px 3px;
    width: 20px;
    height: 20px;
}
.p_button_invite{
    width: 600px;
    margin: 10px 50px;
    float: left;
    text-align: center;
}
.group_quit{
    margin-top: 100px;
    float: left;
}
.quit_button{
    
}
.g_recent_hd{
    padding:10px 8px;
    margin:10px 2px;
    float: left;
    width: 800px;
    min-height: 300px;
}
.g_recent_hd h3{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    margin-bottom: 4px;
    font-weight: 100;
    font-size: 22px;
}
.g_recent_hd hr{
    padding: 2px;
    margin: 1px;
}
.g_recent_hdshow{
    padding: 10px 7px;
    margin: 5px 0px;
    min-height: 160px;
    float: left;
}
.recenthd_leftbar{
    width: 15%;
    height: 200px;
    float: left;
    padding-right: 10px;
}

.recenthd_rightbar{
    width: 85%;
    min-height: 200px;
    float: left;
}
.rhd_creater{
    float: left;
    padding: 5px;
    width: auto;
    height: 180px;;
}
.rhd_creater_name{
    font-size: 16px;
    text-align: center;
    font-family: "微软雅黑";
    padding-top: 20px;
    margin-top: 70px;
}
.rhd_creater img{
    width: 80px;
    height: 80px;
    border-radius:50px;
    float: left;
}
.recent_hd_title{
    padding: 3px;
    font-size: 22px;
}
.recent_hd{
    font-size: 20px;
    text-decoration: none;
}
.recent_hd_ul{
    width: 200px;
    height: 50px;
}
.recent_hd_tags{
    padding: 3px;
    padding-top: 10px;
    font-size: 16px;
    width: 50%;
    float: left;
    color: #5B5B5B;
}
.tag_right{
    text-align: right;
}
.recent_hd_detials{
    padding: 1px;
    font-size: 16px;
    width: 100%;
    float: left;
    min-height: 70px;
}
.img_outter{
    width: 600px;
    height: 100px;
    padding: 0px;
    margin: 0px;
    display: block;
    float: left;
}
.img_inner{
    width: 300px;
    transition: transform 0.4s ease-in-out 0s;
    transition-property: transform;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    display: block;
}
.img_inner img{
    width: 500px;
    height: 100px;
}
a:-webkit-any-link.show {
    color: -webkit-link;
    text-decoration: underline;
    cursor: auto;
}
/*重写结束*/

/*个人编辑界面重写*/
.page_title{
    width: 100%;
    height: 1px;
    line-height: 70px;
    border-bottom: 1px solid #e5e7ea;
    text-align: right;
    color: #cfd8dc;
    font-weight: 400;
    font-size: 36px;
    font-family: initial;
    margin-top: 37px;
    padding: 0px;
}


#personal_edit{
    width: 100%;
    margin: 10px;
    margin-left: 0px;
    padding: 20px 10px;
    min-height: 400px;
}

#personal_edit label{
    clear: left;
    margin: 10px 5px;
    width: 100px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    text-align: left;
    font-size: 16px;
}

#personal_edit li{
    margin: 20px;
    width: 500px;
}

.label_style{
    float: left;
    color: #999;
}

#p_publish{
    width: 100%;
    float: left;
    margin-top: 60px;
    text-align: center;
}

#personal_jj{
	width: 600px;
	height: 200px;
	line-height: 20px;
	margin: 0 30px;	
	padding-left: 30px;
	font-size: 16px;
	color:#444;
	border: 1px solid #d9d9d9;
}
/*重写结束*/

.personal_title{
    padding:auto;
    margin:2px;
    margin-bottom:20px;
    overflow-x:hidden;
    overflow-y: hidden;
    text-decoration: none;
    display: block;
    list-style-type: none;
    font-size: 18px;
    border-bottom-style: groove;
}

.personal-data{
    align-self: center;
    background-color:#fff;
}


.head_portrait{
    padding-bottom: 10px;
    padding-top: 16px;
}

.head_portrait img{
    border:1px solid #000;
}

.p_portrait img{
    margin-bottom: 100px;
    float: left;
    border:1px solid #000;
}


.p_tag{
    float: left;
    width: 100px;
    color: black;
    padding-left: 27px;
}

.hd_present{
    float: left;
    padding-top: 4px;
    padding-left: 3.7px;
    margin-left: 7px;
    margin-right: 7px;
    margin-bottom: 8px;
    width: 250px;
    border: 1px solid rgb(221,221,221);
	border-radius: 5px;
}

.hd_details{
    float: none;
    padding: 2px;
    margin: 4px;
    text-align: left;
    padding-left: 10px;
}

.hd_present_ul{
    padding: 0;
    margin: 0;
}

.hd_img{
    width: 240px;
    height: 120px;
}

.hd_title{
    padding: 0;
    margin: 0;
    font-size: 20px;
}
.Clear{
    clear:both;
}

a:link.thisover{
    color:#999;
    text-decoration: none;
}

a:visited.thisover{
    color: black;
    text-decoration: none;
}

a:hover.thisover{
    color: cornflowerblue;
    text-decoration: none;
}

a:active.thisover{
    color: brown;
    text-decoration: none;
}

.group_gg{
    margin:2px;
	padding: 2px;
	height: 200px;
    float: left;
    width: 800px;
    border: 1px solid rgb(221,221,221);
	border-radius: 5px;
}

.gg_present{
    padding-left: 5px;
    margin: 10px;
}

.gg_review_main{
    width: 200px; 
height: 100px; 
max-width: 200px; 
max-height: 100px; 
}

.member_review_list{
	margin:0;
	padding: 0;
	height: 150px;
}
.member_review_main{
	float: left;
}
.member_review_person{
	margin:5px;
}
 .person_id_name h5{
text-align: center;
font-size: 15px;
 }
.person_id_name a{
 text-decoration: none;
 color: rgb(51,51,51);
 }

.person_id_name a:visited {
 text-decoration: none;
 }
.person_id_name a:hover {
 text-decoration: none;
 color:rgb(100,149,237);
 }
.person_id_name a:active {
 text-decoration: none;
 font-size: 14px;
 font-weight: bold;
 }

/*我的消息部分css*/
.per_message{
    float: left;
}
.per_message_block{
    float: left;
    margin: 10px;
    padding-left: 30px;
    width: 700px;
}
.per_message_title h5{
    font-size: 20px;
    font-weight: 500;
    color: #60a773;
}
.message_bar{
    width: 750px;
    border-top: 1px solid #60a773;

}
.message_bar li{
    width: 700px;
    padding: 5px;
    color: black;
    font-size: 16px;
    line-height: 40px;
}
/*我的消息部分css结束*/
