
/*body{
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: normal;
}
*/
.frame{
    padding: 1%;
    border-color:#1a2b3d;
    border-width: medium;
    border-style: solid;
    margin: 1% 0;
    overflow-x:hidden;
    overflow-y: hidden;
    margin-bottom: auto;
    background-color:#1a2d3b;
        color:white
                border: 1px solid rgb(221,221,221);
	border-radius: 5px;
}

.title{
    display:inline-block;
    width: 100px;
    height: auto;
    line-height: 30px;
    float: left;
    text-align: center;
    color: aliceblue;
    font-size: 16px;
}

.style{
    width: 1130px;
    overflow-x:hidden;
    overflow-y:hidden;
}

.searching li{
    font-size: 16px;
    color: #fff;
    padding: 5px;
    width: 100px;
    height:30px;
    float: left;
    margin-right: 2px;
    display: block;
    text-align: center;
}

a:link.thisover{
    color:aliceblue;
    text-decoration:none;
}

a:visited.thisover{
    color: aliceblue;
    text-decoration: none;
}

a:hover.thisover{
    color: white;
    text-decoration: none;
}

a:active.thisover{
    color: white;
    text-decoration: none;
}

.search_out{
    background-color:azure;
    padding: 1%;
   
    border-color: seashell;
        border: 1px solid rgb(221,221,221);
	border-radius: 5px;
    
}

.search_main{
    width: 500px
    height:180px;
    background-color: #FFF;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid rgb(221,221,221);
	border-radius: 5px;;
}

.search_main_img{
    margin-top: 20px;
    float: left;
    display:block;
    padding:15px;
    margin: 0;
    
}

.search_main_div{
    float:left;
    text-align: left;
}


.hd_name{
    text-align: left;
    font-size: 19px;
    padding: 3%;
    margin-top: 10px;
}

.hd_creat{
    margin: 0;
    padding: 6px;
    text-align: left;
    padding-top: 2%;
    font-size: 14px;
}

.hd_label
.hd_time
.people_num{
    padding: 2px;
    margin: 2px;
    text-align: left;
    font-size: 15px;
    color: grey;
}


#frame3{
    margin-bottom: 15px;
}